.bookDiv {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.buttons {
  color: #2a878c;
  display: flex;
  justify-content: flex-end;
  margin-top: -10px !important;
  padding-top: 0 !important;
}

.bottom {
  display: flex;
}
img {
  margin-top: 5px;
  margin-right: 15px;
}

h5 {
  margin: 10px 0;
}
a {
  color: #2a878c;
}
